.card{
    
    display: flex;
    background:burlywood;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid magenta;
  
}
.pic{
   
    border: 1px solid magenta;
    width:200px;
    padding: 40px;
}
.text{
    font-size: medium;
    text-align: center;
    margin-top: 40px;
    margin-right:10px ;
    
}